header {
    position: absolute;
    padding-left: 50px;
    padding-right: 100px;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    z-index: 1;
    background-color: rgba($color: #ffffff, $alpha: 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 90px;
    }

    a {
        color: rgba($color: #ffffff, $alpha: 0.8);
        text-decoration: none;
        font-size: 32px;
        margin-left: 32px;
        font-weight: 500;
        &:hover {
            color: rgba($color: #ffffff, $alpha: 1);
        }
    }
}
