header {
    position: absolute;
    padding-left: 50px;
    padding-right: 100px;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    z-index: 1;
    background-color: rgba($color: #ffffff, $alpha: 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 90px;
        cursor: pointer;
    }

    a {
        color: rgba($color: #ffffff, $alpha: 0.8);
        text-decoration: none;
        font-size: 30px;
        margin-left: 36px;
        font-weight: 500;
        &:hover {
            color: rgba($color: #ffffff, $alpha: 1);
        }
    }
}

.darkLinks {
    a {
        color: rgba($color: #000000, $alpha: 0.8);

        &:hover {
            color: rgba($color: #000000, $alpha: 1);
        }
    }
}

.headerDark {
    background-color: white;
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}