.img-slideshow {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    animation: zoomIn 9s ease;
}

@keyframes zoomIn {
    from {
transform: scale(1);
    }
    to {
transform: scale(1.15);
    }
}

.slideshow-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.slideshow-overlay {
    background-color: rgba($color: #000000, $alpha: 0.3);
    position: absolute;
    top: 0 ;
    display: flex;
    align-items: center;
    

    p {
        margin-left: 500px;
        color: white;
        font-size: 120px;
        max-width: 800px;
        padding-left: 24px;
        border-left: 5px solid white;
    }
}

.fadeIn {
    animation: fadeInAnimation 1.3s ease-in-out;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}